@use "../../../../styles/abstracts/mixins-screens" as screens;

#unpaidContributionsList {
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

#paymentSection {
  .content {
    display: flex;
    gap: 10px;
    flex-direction: column;

    @include screens.tabletAndDesktop {
      flex-direction: row;
      button {
        flex: 1;
      }
    }

    button {
      padding: 20px;
    }
  }
}
