@use "../abstracts/variables-colors" as colors;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: colors.$light-background;
}
