.button {
  padding: 10px 20px;
  border-radius: 3px;
  border: 0;
  display: block;
  gap: 10px;
  cursor: pointer;
  font-weight: 600;
  text-align: center;

  &:hover {
    filter: brightness(85%);
  }
}

a.button {
  text-decoration: none;
}
