$slate: #f8fafc;
$slate-1: #f1f5f9;
$slate-2: #e2e8f0;
$slate-3: #cbd5e1;
$slate-4: #94a3b8;
$slate-5: #64748b;
$slate-6: #475569;
$slate-7: #334155;
$slate-8: #1e293b;
$slate-9: #0f172a;

$light-background: $slate;
$dark-background: $slate-7;

$white: white;
$black: black;

$red: #ef4444;
$red-variant: #b91c1c;

$orange: #f97316;
$orange-variant: #c2410c;

$yellow: #fbbf24;
$yellow-variant: #d97706;

$green: #16a34a;
$green-variant: #166534;

$blue: #2563eb;
$blue-variant: #1e40af;

$primary: #084d7d;
$primary-variant: #0b3e63;
