@use "../../styles/abstracts/variables-colors" as colors;
@use "../../styles/abstracts/mixins-shadows" as shadows;

.welcomer {
  padding: 20px;
  border-radius: 5px;
  @include shadows.shadow;
  background-color: colors.$white;

  .wrapper {
    h1 {
      font-weight: 900;
      color: colors.$primary;
    }
  }
}
