@use "../../../styles/abstracts/variables-colors" as colors;
@use "../../../styles/abstracts/mixins-border-radius" as borderRadius;
@use "../../../styles/abstracts/mixins-shadows" as shadows;
@use "../../../styles/abstracts/mixins-text-sizes" as textSizes;
@use "../../../styles/abstracts/mixins-screens" as screens;

.imageCard {
  background-color: colors.$white;
  display: inline-block;
  overflow: hidden;
  border-radius: 3px;
  @include borderRadius.rounded;
  @include shadows.shadow-md;
  width: 100%;

  .imageContainer {
    height: 190px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .textsContainer {
    padding: 15px 20px;
    display: flex;

    flex-direction: column;

    h1 {
      font-weight: 900;
      @include textSizes.text-xl;
    }

    p {
      color: colors.$slate-7;
    }
  }
}

.imageCard.clickableEffect {
  cursor: pointer;

  img,
  h1 {
    transition: 0.2s ease;
  }

  &:hover {
    outline: 1.5px colors.$slate-5 solid;

    img {
      transform: scale(1.1);
    }

    h1 {
      color: colors.$primary;
    }
  }
}
